
<div class="search-bar">
  <mat-form-field>
    <mat-label>選擇月份</mat-label>
    <input matInput placeholder="yyyy/MM" [matDatepicker]="personal_shift_month_picker">
    <mat-datepicker-toggle matSuffix [for]="personal_shift_month_picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #personal_shift_month_picker></mat-datepicker>
  </mat-form-field>

</div>

<div class="date-shift-result">
  <div class="date-shift-list">
    <app-date-shift></app-date-shift>
    <app-date-shift></app-date-shift>
    <app-date-shift></app-date-shift>
    <app-date-shift></app-date-shift>
    <app-date-shift></app-date-shift>
  </div>
</div>
