@import '../../material-theme.scss';

/* make sure mat-toolvar + mat-sidenav-container = 100% height */
mat-toolbar{
  height: 64px;
  background-color: mat-color($primary) !important;
}

button{
  min-width: 32px;
  padding: 0px;
  width: 32px;
}

/* recommend by official tutorial */
.spacer{
  flex: 1 1 auto;
}
