
<div class="search-bar">
  <mat-form-field>
    <mat-label>選擇月份</mat-label>
    <input matInput placeholder="yyyy/MM" [matDatepicker]="personal_shift_month_picker">
    <mat-datepicker-toggle matSuffix [for]="personal_shift_month_picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #personal_shift_month_picker></mat-datepicker>
  </mat-form-field>

</div>

<div class="shift-result">
  <mat-card class="date-shfit-card">
    <div class="date-shift-title">
      <div>11 月 5 日 (三)</div>
      <div>成大園區</div>
    </div>
    <hr class="style-title">
    <mat-chip-list class="shift-content">
      <div class="shift-line">
        <mat-chip class="moring-chip">早上</mat-chip>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
      </div>
      <hr class="shift">
      <div class="shift-line">
        <mat-chip class="noon-chip">中午</mat-chip>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
      </div>
      <hr class="shift">
      <div class="shift-line">
        <mat-chip class="afternoon-chip">下午</mat-chip>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
        <div class="member">蔡元泓一</div>
      </div>
    </mat-chip-list>

  </mat-card>
</div>
