<ion-card class="welcome-card">

  <ion-card-header>     
    <ion-card-title>請先登入!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
    
      <!-- congregation -->
      
      <div>
        
        <ion-select 
          [interfaceOptions]="'customActionSheetOptions'" 
          interface="action-sheet" 
          mode="md"
          [(ngModel)]="login_form.congregation" 
          (ionChange)="onChangeCongregation()"
          name="congregation"
          placeholder="請選擇會眾"
          class="my-input">
        
          <ion-select-option 
            *ngFor="let congregation of congregationsService.congregations"
            [value]="congregation.name">
            {{congregation.name}}
          </ion-select-option>
          
        </ion-select>
        
        <p *ngIf="!is_legal.congregation" class="my-illegal-text">不可空白！</p>
        
      </div>
      
      <!-- name -->
      <div>
        
        <ion-select 
          [interfaceOptions]="'customActionSheetOptions'" 
          interface="action-sheet"
          mode="md"
          [(ngModel)]="login_form.name" 
          (ionChange)="onChangeName()"
          name="name"
          placeholder="請選擇姓名"
          class="my-input">
          
          <ion-select-option 
            *ngFor="let name of names"
            [value]="name">
            {{name}}
          </ion-select-option>
          
        </ion-select>
        
        <p *ngIf="!is_legal.name" class="my-illegal-text">不可空白！</p>
        
      </div>

      <!-- password -->
      <div>
      
        <ion-input 
          type="password"
          [(ngModel)]="login_form.password" 
          (ionChange)="onChangePassword()"
          placeholder="請輸入密碼"
          class="my-input">
        </ion-input>
        
        <p *ngIf="!is_legal.password" class="my-illegal-text">密碼有誤！</p>
        
      </div>

      <!-- submit -->
      <ion-button
        expand="block"
        (click)="onSubmit()">
        登入
      </ion-button>
    
    </ion-list>
  </ion-card-content>

</ion-card>