.my-illegal-text{
  font-size:12px;
  color:red;
}

.my-input{
  text-align:center;
}

ion-button{
  --background: linear-gradient(to right, #FF9800, rgb(248, 178, 73));
  --background-hover: linear-gradient(to right, rgb(248, 178, 73), #FF9800);
  --background-activated: linear-gradient(to right, #FF9800, rgb(248, 178, 73));
}