<ion-card class="welcome-card">

  <ion-card-header>     
    <ion-card-title>請先登入!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
    
      <ion-item>  
        <ion-label>會眾</ion-label>            
        <ion-select 
          [interfaceOptions]="customActionSheetOptions" 
          interface="action-sheet" 
          [(ngModel)]="login_form.congregation" 
          (ionChange)="onChangeCongregation()"
          name="congregation"
          placeholder="選擇會眾">
        
          <ion-select-option *ngFor="let congregation of congregationsService.congregations">
            {{congregation.name}}
          </ion-select-option>
          
        </ion-select>
      </ion-item>
      
      <ion-item>  
        <ion-label>姓名</ion-label>            
        <ion-select 
          [interfaceOptions]="customActionSheetOptions" 
          interface="action-sheet" 
          [(ngModel)]="login_form.name" 
          (ionChange)="onChangeName()"
          name="name"
          placeholder="選擇姓名">
          
          <ion-select-option *ngFor="let name of namse">
            {{name}}
          </ion-select-option>
          
        </ion-select>
      </ion-item>

      <!-- 輸入密碼 -->
      <ion-item> 
        <ion-input type="passwrod" placeholder="請輸入密碼"></ion-input>
      </ion-item>

      <ion-button type="submit" color="tertiary" expand="block">登入</ion-button>
    
    </ion-list>
  </ion-card-content>

</ion-card>