@import '../material-theme.scss';
/* make sure mat-toolvar + mat-sidenav-container = 100% height */

mat-sidenav-container{
  position: absolute;
  top: 64px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

mat-sidenav{
  width:256px;
}

mat-sidenav-content{
  display: flex;
  flex-grow: 1;
}
