@import '../../../../material-theme.scss';

:host{
  display: flex;

  .date-shfit-card{
    display: flex;
    flex-direction: column;

    hr.style-title {
      border: 0;
      height: 1px;
      width: 100%;
      background: $dark-grey;
    }

    hr.shift {
      border: 0;
      height: 0.6px;
      width: 100%;
      background: $light-grey;
    }

    .date-shift-title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .shift-content{
      display: inline;
      flex-direction: column;

      .shift-line{
        display: grid;
        flex-grow: 1;

        grid-template-columns: auto repeat(4, auto);
        gap: 2%;

        .moring-chip{
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: mat-color($accent, lighter);

          font-size: 12px;
        }

        .noon-chip{
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: mat-color($accent);

          font-size: 12px;
        }

        .afternoon-chip{
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: mat-color($accent, darker);

          font-size: 12px;
        }

        .member{
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 14px;
        }
      }

    }


  }
}

