<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>查詢班表</ion-title>
  </ion-toolbar>

  <!-- 工具欄 -->
  <ion-toolbar color="primary">

      <ion-segment [(ngModel)]="ShiftDisplay" color="warning">
        <ion-segment-button value="person" color="light">
            <ion-icon name="md-person" color="light"></ion-icon>
            <ion-label color="light">我的班表</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calendar" color="light">
            <ion-icon name="md-calendar" color="light"></ion-icon>
            <ion-label color="light">星期</ion-label>
        </ion-segment-button>
        <ion-segment-button value="date" color="light">
            <ion-icon name="md-time" color="light"></ion-icon>
            <ion-label color="light">日期</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-toolbar>

</ion-header>

<ion-content>

  <!-- 
      "我的班表"內容 
    -->
  <div *ngIf="ShiftDisplay=='person'">
    
    <!-- 登入卡片 -->
    <app-login-card *ngIf="!userService.user.name"></app-login-card>

    <div *ngIf="userService.user.name">
        <ion-item>
            <ion-datetime 
                placeholder ="選擇月份"
                displayFormat="YYYY/MM" 
                value="{{ myMonth }}"
                [(ngModel)]="myMonth"
                (ionChange)="onSelectMonth()"
                cancelText="取消"
                doneText="确定">
            </ion-datetime>
        </ion-item>

        <ion-list>
            <ion-list-header>
                <ion-title>班表</ion-title>
            </ion-list-header>

            <ion-spinner
                *ngIf="myMonthShift != undefined && myMonthShift.length == 0"
                name="lines">
            </ion-spinner>

            <ion-item *ngFor="let data of myMonthShift">

                <ion-label>{{ data.date }} ( {{ data.day }} ) {{ data.shift_title }}</ion-label>
                <ion-chip color="primary" outline=true>
                    <ion-icon name="pin"></ion-icon>
                    <ion-label>{{ data.site }}</ion-label>
                </ion-chip>
            </ion-item>     
        </ion-list>
    </div>

  </div>

  <!--
    "星期"內容
  -->
  
  <div *ngIf="ShiftDisplay=='calendar'">
    <!-- 查詢月份 -->
    <ion-item>
        <ion-datetime
            placeholder="查詢班表月份"
            displayFormat="YYYY/MM"
            [(ngModel)]="seMonth" 
            (ionChange)="onSelectDay()"
            cancelText="取消"
            okText="确定">
        </ion-datetime>
    </ion-item>
   <!-- 查詢星期 -->
    <ion-item>
        <ion-select 
        [interfaceOptions]="'customActionSheetOptions'" 
        interface="action-sheet" 
        mode="md"
        [(ngModel)]="myDay"
        (ionChange)="onSelectDay()"
        name="Day"
        placeholder="請選擇星期"
        class="my-input"
        cancelText="取消">
        
            <ion-select-option 
                *ngFor="let _day of Day"
                [value]="_day">
                {{ _day }}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <!-- 顯示查詢內容 -->
    <ion-list *ngFor="let site of myDayShift | keyvalue">
        <ion-card>
            <ion-item-divider>
                <ion-chip color="primary" outline=true>
                    <ion-icon name="pin"></ion-icon>
                    <ion-label>{{ site.key }}</ion-label>   
                </ion-chip>
            </ion-item-divider>
    
            <ion-item-group *ngFor="let date of site.value | keyvalue">
                <ion-item >
                    {{ date.key | date:'yyyy年MM月dd日'}}
                </ion-item>
                <ion-item *ngIf="date.value['早上'] != undefined">
                    <ion-chip color="tertiary" outline=true>
                        <ion-label>早上</ion-label>
                    </ion-chip>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let name of date.value['早上'] | keyvalue">{{ name.value }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item *ngIf="date.value['中午'] != undefined">
                    <ion-chip color="secondary" outline=true>
                        <ion-label>中午</ion-label>
                    </ion-chip>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let name of date.value['中午'] | keyvalue">{{ name.value }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item *ngIf="date.value['下午'] != undefined">
                    <ion-chip color="primary" outline=true>
                        <ion-label>下午</ion-label>
                    </ion-chip>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let name of date.value['下午'] | keyvalue">{{ name.value }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                
                </ion-item-group>
            </ion-card>        
        </ion-list>
  </div>

  <!--
       "日期"內容 
    --> 
  <div *ngIf="ShiftDisplay=='date'">
      <ion-item>
        <!--<ion-label>查詢班表時間</ion-label>-->
        <ion-datetime
            placeholder="查詢班表時間"
            displayFormat="YYYY/MM/DD"
            [(ngModel)]="myDate" 
            (ionChange)="onSelectDate()"
            cancelText="取消"
            doneText="确定">
        </ion-datetime>
        <ion-label>&nbsp;&nbsp;{{ displayDay }}</ion-label>
      </ion-item>
      
    <ion-list *ngFor="let site of myDateShift; let i = index">        
        <ion-item-divider>
            <ion-chip color="primary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>{{ Site[i] }}</ion-label>   
            </ion-chip>
        </ion-item-divider>

        <ion-item-group *ngFor="let data of site">
            <ion-item *ngIf="data!=null" >
                <ion-chip *ngIf="data.shift_title == '早上'" color="tertiary" outline=true>
                    <ion-label>{{ data.shift_title }}</ion-label>
                </ion-chip>
                <ion-chip *ngIf="data.shift_title == '中午'" color="secondary" outline=true>
                    <ion-label>{{ data.shift_title }}</ion-label>
                </ion-chip> 
                <ion-chip *ngIf="data.shift_title == '下午'" color="primary" outline=true>
                    <ion-label>{{ data.shift_title }}</ion-label>
                </ion-chip>   
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let name of data.members">{{ name }}</ion-col>
                    </ion-row>
                </ion-grid>        
            </ion-item>
        </ion-item-group>            
    </ion-list>

  </div>

</ion-content>
