<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>查詢班表</ion-title>
  </ion-toolbar>

  <!-- 工具欄 -->
  <ion-toolbar color="tertiary">

      <ion-segment [(ngModel)]="ShiftDisplay" color="warning">
        <ion-segment-button value="person" color="light">
            <ion-icon name="md-person" color="light"></ion-icon>
            <ion-label color="light">我的班表</ion-label>
        </ion-segment-button>
        <!--<ion-segment-button value="calendar" color="light">
            <ion-icon name="md-calendar" color="light"></ion-icon>
            <ion-label color="light">周次</ion-label>
        </ion-segment-button>-->
        <ion-segment-button value="date" color="light">
            <ion-icon name="md-time" color="light"></ion-icon>
            <ion-label color="light">日期</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-toolbar>

</ion-header>

<ion-content>
  <!-- "我的班表"內容 -->
  <div *ngIf="ShiftDisplay=='person'">
    <!-- 個人班表月份-->
    <ion-item>
        <ion-label>選擇月份</ion-label>
        <ion-datetime 
            placeholder ="選擇月份"
            displayFormat="YYYY/MM" 
            value="{{ myMonth }}"
            [(ngModel)]="myMonth"
            (ionChange)="onSelectMonth()">
        </ion-datetime>
    </ion-item>

    <ion-list>
        <ion-list-header>
            班表
        </ion-list-header>

        <ion-item *ngFor="let data of myMonthShift">            
            <ion-label>{{ data.date }} ( {{ data.day }} ) {{ data.shift_title }}</ion-label>
            <ion-chip color="tertiary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>{{ data.site }}</ion-label>
            </ion-chip>
        </ion-item>
        <!--<ion-item>            
            <ion-label>2019 年 9 月 14 日 (周六)</ion-label>
            <ion-chip color="tertiary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>安平樹屋停車場</ion-label>                
            </ion-chip>
        </ion-item>  -->      
    </ion-list>

  </div>

  <!-- "日期"內容 --> 
  <div *ngIf="ShiftDisplay=='date'">
      <ion-item>
        <ion-label>查詢班表時間</ion-label>
        <ion-datetime 
            displayFormat="YYYY/MM/DD" 
            [(ngModel)]="myDate" 
            (ionChange)="onSelectDate()">
        </ion-datetime>
      </ion-item>
      
    <ion-list *ngFor="let site of myDateShift; let i = index">
        
        <ion-item-divider>
            <ion-chip color="tertiary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>{{ Site[i] }}</ion-label>           
            </ion-chip>
        </ion-item-divider>

        <ion-list *ngFor="let data of site">
            <ion-item *ngIf="data!=null">
                <ion-chip color="primary" outline=true>
                    <ion-label>{{ data.shift_title }}</ion-label>
                </ion-chip>        
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let name of data.members">{{ name }}</ion-col>
                    </ion-row>
                </ion-grid>        
            </ion-item>
        </ion-list>
    </ion-list>

  </div>

</ion-content>
