<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>查詢班表</ion-title>
  </ion-toolbar>

  <!-- 工具欄 -->
  <ion-toolbar color="tertiary">

      <ion-segment [(ngModel)]="ShiftDisplay" color="warning">
        <ion-segment-button value="person" color="light">
            <ion-icon name="md-person" color="light"></ion-icon>
            <ion-label color="light">我的班表</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calendar" color="light">
            <ion-icon name="md-calendar" color="light"></ion-icon>
            <ion-label color="light">周次</ion-label>
        </ion-segment-button>
        <ion-segment-button value="date" color="light">
            <ion-icon name="md-time" color="light"></ion-icon>
            <ion-label color="light">日期</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-toolbar>

</ion-header>

<ion-content>

  <!-- "我的班表"內容 -->
  <div *ngIf="ShiftDisplay=='person'">
    <!-- 個人班表月份-->
    <ion-item>
        <ion-label>選擇月份</ion-label>
        <ion-datetime displayFormat="YYYY/MM" value="2019/9"></ion-datetime>
    </ion-item>

    <ion-list>
        <ion-list-header>
            班表
        </ion-list-header>

        <ion-item>            
            <ion-label>2019 年 9 月 12 日 (周四)</ion-label>
            <ion-chip color="tertiary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>成大醫院</ion-label>                
            </ion-chip>
        </ion-item>
        <ion-item>            
            <ion-label>2019 年 9 月 14 日 (周六)</ion-label>
            <ion-chip color="tertiary" outline=true>
                <ion-icon name="pin"></ion-icon>
                <ion-label>安平樹屋停車場</ion-label>                
            </ion-chip>
        </ion-item>        
    </ion-list>

  </div>

  <!-- "日期"內容 --> 
  <div *ngIf="ShiftDisplay=='date'">
      <ion-item>
          <ion-label>查詢班表時間</ion-label>
          <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
  
      <ion-item-divider>
          <ion-chip color="tertiary" outline=true>
              <ion-icon name="pin"></ion-icon>
              <ion-label>成大醫院</ion-label>                
          </ion-chip>
      </ion-item-divider>
      <ion-item>
          <ion-chip color="primary" outline=true>
              <ion-label>早上</ion-label>
          </ion-chip>        
          <ion-grid>
              <ion-row>
                <ion-col>鄭炳文</ion-col>
                <ion-col>鄭瑋珠</ion-col>
                <ion-col>呂嘉蓉</ion-col>
                <ion-col>謝秀鸞</ion-col>
              </ion-row>
          </ion-grid>        
      </ion-item>
      <ion-item>
          <ion-chip color="warning" outline=true>
              <ion-label>中午</ion-label>
          </ion-chip>        
          <ion-grid>
              <ion-row>
                <ion-col>林麗芳</ion-col>
                <ion-col>李品函</ion-col>
                <ion-col>劉淑惠</ion-col>
                <ion-col>葉美月</ion-col>
              </ion-row>
          </ion-grid> 
      </ion-item>
      <ion-item>
          <ion-chip color="danger" outline=true>
              <ion-label>下午</ion-label>
          </ion-chip>        
          <ion-grid>
              <ion-row>
                <ion-col><font size="2">田頭隼人</font></ion-col>
                <ion-col><font size="2">田頭思潔</font></ion-col>
                <ion-col>李淑慧</ion-col>
                <ion-col>謝玫秀</ion-col>
              </ion-row>
          </ion-grid>           
      </ion-item>
  </div>

</ion-content>
