<button mat-button 
  (click)="routingTo('home')">
  首頁
</button>

<button mat-button 
  (click)="login()" 
  *ngIf="authorityService.checkAuthority('login')">
  登入
</button>

<button mat-button 
  (click)="routingTo('api')"
  *ngIf="authorityService.checkAuthority('/api')">
  API
</button>

<button mat-button 
  (click)="routingTo('new_user')" 
  *ngIf="authorityService.checkAuthority('/new_user')">
  新增使用者
</button>

<button mat-button 
  (click)="logout()" 
  *ngIf="authorityService.checkAuthority('logout')">
  登出
</button>

