<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      首頁
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 歡迎卡片 -->
    <ion-card class="welcome-card">
      <img src="/assets/Home_Card_Picture.jpg" alt="" />
      <ion-card-header>     
        <ion-card-title>歡迎！</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>你好！歡迎進入「台南市都市公眾場所特別見證」資訊系統！</p>
      </ion-card-content>
    </ion-card>
    <!-- 登入卡片 -->
    <ion-card class="welcome-card">

      <ion-card-header>     
        <ion-card-title>請先登入!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>  
              <ion-label>會眾</ion-label>            
              <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="選擇會眾">
                <ion-select-option value="East">東區東區</ion-select-option>
                <ion-select-option value="North">北區北區</ion-select-option>
                <ion-select-option value="South">南區南區</ion-select-option>
                <ion-select-option value="what">仁德仁德</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>  
              <ion-label>姓名</ion-label>            
              <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="選擇姓名">
                <ion-select-option value="East">蔡元泓</ion-select-option>
                <ion-select-option value="North">蔡元勳</ion-select-option>
                <ion-select-option value="South">黃啟禎</ion-select-option>
              </ion-select>
          </ion-item>

          <!-- 輸入密碼 -->
          <ion-item> 
            <ion-input type="passwrod" placeholder="請輸入密碼"></ion-input>
          </ion-item>

          <ion-button color="tertiary" expand="block">登入</ion-button>
        </ion-list>
      </ion-card-content>

    </ion-card>

</ion-content>
