<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      首頁
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 歡迎卡片 -->
    <ion-card *ngIf="!userService.user.name" class="welcome-card">
      <img src="/assets/Home_Card_Picture.jpg" alt="" />
      <ion-card-header> 
        <ion-card-title>歡迎！</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>你好！歡迎進入「台南市都市公眾場所特別見證」資訊系統！</p>
      </ion-card-content>
    </ion-card>
    <!-- 登入卡片 -->
    <app-login-card *ngIf="!userService.user.name"></app-login-card>

    <!-- 登入後資訊 -->
    <p *ngIf="userService.user.name">
      <!-- 登入歡迎卡片 -->
      <ion-card>
        <!-- <img src="/assets/Home_Login_Welcome.jpg" alt="" /> --> 
        <ion-card-header> 
          <ion-card-title>登入成功!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{userService.user.name}}，你好!
        </ion-card-content>        
      </ion-card>

      <!-- 捷徑卡片 -->
      <ion-card>
        <ion-card-header> 
          <ion-card-title>想要做什麼呢?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" (click)="openSideMenu()">
            開始瀏覽
          </ion-button>
        </ion-card-content>
      </ion-card>

      
    </p>
    
    <!--<app-shift-report-card></app-shift-report-card>-->

</ion-content>
